@{
    var tempMemberId = ViewBag.MemberId;
    var tempAccount = ViewBag.Account;
}

<h2>登入訊息</h2>
@if (tempAccount != null && tempMemberId != null)
{
    <p>使用者編號: @tempMemberId</p>
    <p>使用者帳號: @tempAccount</p>
}
else
{
    <p>Session信息未找到。</p>
}