<body>
	<div id="Login">
		帳號:<input type="text" placeholder="請輸入帳號" v-model="member.account">
		<br>
		密碼:<input type="password" placeholder="請輸入密碼" v-model="member.hashPassword">
		<br>
		<input type="checkbox" v-model="logAccount">記住帳號
		<button type="button" @@click="LoginMemberApi()">登入</button>
		<br>
		<a href="Register">註冊</a>
	</div>
</body>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
	const app = Vue.createApp({
		data() {
			return {
				member: {
					account: "",
					hashPassword: ""
				},
				logAccount: false,
			}
		},

		mounted() {
			let self = this;

			const saveLogAccount = localStorage.getItem("saveLogAccount");

			if (saveLogAccount) {
				self.member.account = saveLogAccount;
				self.logAccount = true;
			}
		},

		methods: {
			async LoginMemberApi() {
				let self = this;
				let apiHost = "https://localhost:7235";
				let returnUrl = new URLSearchParams(window.location.search).get('ReturnUrl');
				var accountRule = /^[A-Za-z0-9_]+$/;
				var passwordRule = /^\S+$/;

				if (!accountRule.test(self.member.account)) {
					return alert("帳號欄位只能有字母、數字、底線");
				}

				if (!passwordRule.test(self.member.hashPassword)) {
					return alert("密碼欄位不允許空格");
				}

				// "/api/LionApi/LoginMember"
				// `${apiHost}/api/Lion/LoginMember/${self.member.account}/${self.member.hashPassword}`
				await fetch("/Lion/Login", {
					method: "POST",
					headers: { 'Content-Type': 'application/json' },
					body: JSON.stringify(self.member),
					credentials: 'include'
				})
					.then(r => { if (!r.ok) { console.log("Fail") } return r.json(); } )
					.then(d => {
						if (d == true /* d.token */) {
							console.log("Success", d);
							
							// localStorage.setItem("jwtToken", d.token);

							alert("登入成功");

							if (self.logAccount) {
								localStorage.setItem("saveLogAccount", self.member.account);
							}
							else {
								localStorage.removeItem("saveLogAccount");
							}

							window.location.href = "/Lion/MsgList";
						}
						else {
							alert("登入失敗");
						}
					});
			},
		},
	}).mount("#Login");
</script>