<div id="Login" class="container">
	<div class="text-center mt-5">
		帳號: <input type="text" placeholder="請輸入帳號" v-model="member.account">
		<br>
		<br>
		密碼: <input type="password" placeholder="請輸入密碼" v-model="member.hashPassword">
		<br>
		<br>
		<input type="checkbox" v-model="logAccount">記住帳號
		<br>
		<br>
		<button class="btn btn-success" style="margin-right: 10px;" type="button" @@click="LoginMemberApi()">登入</button>
		<a class="btn btn-secondary" href="Register">註冊</a>
	</div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
	const app = Vue.createApp({
		data() {
			return {
				member: {
					account: "",
					hashPassword: ""
				},
				logAccount: false
			}
		},

		mounted() {
			let self = this;

			const saveLogAccount = localStorage.getItem("saveLogAccount");

			if (saveLogAccount) {
				self.member.account = saveLogAccount;
				self.logAccount = true;
			}
		},

		methods: {
			LoginMemberApi() {
				let self = this;
				var accountRule = /^[A-Za-z0-9_]+$/;
				var passwordRule = /^\S+$/;

				if (!accountRule.test(self.member.account)) {
					return alert("帳號欄位只能有字母、數字、底線");
				}

				if (!passwordRule.test(self.member.hashPassword)) {
					return alert("密碼欄位不允許空格");
				}

				fetch("/Lion/LoginPost", {
					method: "POST",
					headers: { 'Content-Type': 'application/json' },
					body: JSON.stringify(self.member)
				})
					.then(r => { if (!r.ok) { console.log("Fail") } return r.json(); } )
					.then(d => {
						if (d == true) {
							console.log("Success", d);
							
							alert("登入成功");

							if (self.logAccount) {
								localStorage.setItem("saveLogAccount", self.member.account);
							}
							else {
								localStorage.removeItem("saveLogAccount");
							}

							window.location.href = "/Lion/MsgList";
						}
						else {
							alert("登入失敗");
						}
					});
			},
		},
	}).mount("#Login");
</script>