<body>
	<div id="List">
		<input type="text" v-model="searchUserName">
		<button type="button" @@click="GetNameSearch()">搜尋</button>
		<button type="button" @@click="GetNameClear()">清除</button>
		<br>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">編號</th>
					<th scope="col">姓名</th>
					<th scope="col">帳號</th>
					<th scope="col">留言</th>
					<th scope="col">時間</th>
					<th scope="col">功能</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="m in msgList">
					<td>{{m.messageBoardId}}</td>
					<td>{{m.account}}</td>
					<td>{{m.memberName}}</td>
					@* <td>{{m.messageText}}</td> *@
					<td>
						<div v-if="updateMsgIdTemp == m.messageBoardId">
							<input type="text" v-model="updateMsgTemp" />
						</div>
						<div v-else="">{{m.messageText}}</div>
					</td>
					<td>{{m.messageTime}}</td>
					<td>
						<button type="button" v-if="updateMsgIdTemp == m.messageBoardId" @@click="SaveUpdateMsgApi(m.messageBoardId)">保存</button>
						<button type="button" v-else @@click="UpdateMsg(m.messageBoardId, m.messageText)">編輯</button>
						<button type="button" @@click="RemoveMsgApi(m.messageBoardId)">刪除</button>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<button type="button" @@click="ChangePage(nowPage - 1)">上一頁</button>
		<span>{{nowPage}}</span>
		<button type="button" @@click="ChangePage(nowPage + 1)">下一頁</button>
	</div>
</body>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
	const app = Vue.createApp({
		data() {
			return {
				msgList: [
					{
						messageBoardId: "",
						account: "",
						memberName: "",
						messageText: "",
						messageTime: ""
					}
				],
				searchUserName: "",
				nowPage: 1,
				sizePage: 5,
				updateMsgIdTemp: "",
				updateMsgTemp: "",
			}
		},

		mounted() {
			let self = this;

			self.CuttingPage(self.nowPage);
		},

		methods: {
			GetList() {
				let self = this;

				fetch("/api/LionApi/GetMsg").then(r => r.json()).then(d => { self.msgList = d });
			},

			GetNameSearch() {
				let self = this;

				fetch(`/api/LionApi/GetMemberOnlyMsg/${self.searchUserName}`)
					.then(r => r.json())
					.then(d => { self.msgList = d; });
			},

			GetNameClear() {
				let self = this;

				self.searchUserName = "";
				self.CuttingPage(self.nowPage);
			},

			UpdateMsg(messageBoardId, messageText) {
				let self = this;

				self.updateMsgIdTemp = messageBoardId;
				self.updateMsgTemp = messageText;
			},

			SaveUpdateMsgApi(messageBoardId) {
				let self = this;

				fetch(`/api/LionApi/UpdateMsg/${messageBoardId}`, {
					method: "PUT",
					headers: { 'Content-Type': 'application/json' },
					body: JSON.stringify({ messageText: self.updateMsgTemp })
				})
					.then(r => r.json())
					.then(d => {
						if (d == true) {
							console.log("Success", d);
							alert("修改成功");
							updateMsgIdTemp = "";
							self.updateMsgTemp = "";
							//self.CuttingPage(self.nowPage);
						}
						else {
							console.log("Fail", d);
							alert("修改失敗");
						}
					});
			},

			RemoveMsgApi(messageBoardId) {
				let self = this;

				fetch(`/api/LionApi/RemoveMsg/${messageBoardId}`,
					{
						method: "DELETE",
						headers: { 'Content-Type': 'application/json' }
					})
					.then(r => r.json())
					.then(d => {
						if (d == true) {
							console.log("Success", d);
							alert("刪除成功");
							self.CuttingPage(self.nowPage);
						}
						else {
							console.log("Fail", d);
							alert("刪除失敗");
						}
					});
			},

			ChangePage(choosePage) {
				let self = this;

				self.CuttingPage(choosePage);
			},

			CuttingPage(choosePage) {
				let self = this;

				if (choosePage < 1) return;

				self.nowPage = choosePage;

				fetch(`/api/LionApi/GetChoosePageView/${self.nowPage}`).then(r => r.json()).then(d => { self.msgList = d });
			},
		},
	}).mount("#List");
</script>