<body>
	<div id="List">
		<input type="text" v-model="searchUserName">
		<button type="button" @@click="GetNameSearch()">搜尋</button>
		<button type="button" @@click="GetNameClear()">清除</button>
		<br>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">編號</th>
					<th scope="col">姓名</th>
					<th scope="col">帳號</th>
					<th scope="col">留言</th>
					<th scope="col">時間</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="m in msgList">
					<td>{{m.messageBoardId}}</td>
					<td>{{m.account}}</td>
					<td>{{m.memberName}}</td>
					<td>{{m.messageText}}</td>
					<td>{{m.messageTime}}</td>
				</tr>
			</tbody>
		</table>
		<br>
		<button type="button" @@click="ChangePage(nowPage - 1)">上一頁</button>
		<span>{{nowPage}}</span>
		<button type="button" @@click="ChangePage(nowPage + 1)">下一頁</button>
	</div>
</body>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
	Vue.createApp({
		data() {
			return {
				msgList: [
					{
						messageBoardId: "",
						account: "",
						memberName: "",
						messageText: "",
						messageTime: ""
					}
				],
				searchUserName: "",
				nowPage: 1,
				sizePage: 5,
			}
		},
		
		mounted() {
			let self = this;
			
			self.CuttingPage(self.nowPage);
		},

		methods: {
			GetList() {
				let self = this;

				fetch("/api/LionApi/GetMsg").then(r => r.json()).then(d => { self.msgList = d });
			},

			GetNameSearch() {
				let self = this;

				fetch(`/api/LionApi/GetMemberOnlyMsg/${self.searchUserName}`)
					.then(r => r.json())
					.then(d => { self.msgList = d; });
			},

			GetNameClear() {
				let self = this;

				self.searchUserName = "";
				self.CuttingPage(self.nowPage);
			},

			ChangePage(choosePage) {
				let self = this;

				self.CuttingPage(choosePage);
			},

			CuttingPage(choosePage) {
				let self = this;

				if (choosePage < 1) return;

				self.nowPage = choosePage;

				fetch(`/api/LionApi/GetChoosePageView/${self.nowPage}`).then(r => r.json()).then(d => { self.msgList = d });
			},
		},
	}).mount("#List");
</script>