<body>
	<div id="Register">
		<input type="text" placeholder="請輸入姓名" v-model="member.memberName">
		<br>
		<input type="text" placeholder="請輸入帳號" v-model="member.account">
		<br>
		<input type="password" placeholder="請輸入密碼" v-model="member.hashPassword">
		<br>
		<button type="submit" @@click="InsertMemberApi()">送出</button>
	</div>
</body>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
	Vue.createApp({
		data() {
			return {
				member: {
					memberName: "",
					account: "",
					hashPassword: ""
				},
			}
		},

		methods: {
			InsertMemberApi() {
				let self = this;

				fetch("/api/LionApi/RegisterMember", {
					method: "POST",
					headers: { 'Content-Type': 'application/json' },
					body: JSON.stringify(self.member)
				})
				.then(r => r.json())
					.then(d => { if (d == true) { console.log("Success", d); alert("新增成功"); } window.location.href = "/Lion/MsgList" });
			},
		},
	}).mount("#Register");
</script>