@{
    var userId = ViewBag.MemberId;
    var account = ViewBag.Account;
}

<h2>登入訊息</h2>
@if (account != null && userId > 0)
{
    <p>使用者編號: @userId</p>
    <p>使用者帳號: @account</p>
}
else
{
    <p>Session信息未找到。</p>
}