<div id="UseMsg" class="container">
	<div class="text-center mt-5">
		<input type="hidden" id="memberId" value="@ViewBag.MemberId" disabled>
		<div>
			留言板: <input type="text" v-model="messageBoard.messageText" style="margin-right: 10px;" placeholder="請輸入留言">
			<button class="btn btn-success" type="button" style="margin-right: 10px;" @@click="InsertMsgApi">送出</button>
			<a href="/Lion/MsgList" class="btn btn-secondary">返回</a>
		</div>
	</div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
	const app = Vue.createApp({
		data() {
			return {
				messageBoard: {
					memberId: "",
					messageText: ""
				}
			}
		},

		mounted() {
			let self = this;

			self.messageBoard.memberId = document.getElementById('memberId').value;
		},

		methods: {
			InsertMsgApi() {
				let self = this;

				var msgRule = /^[0-9a-zA-Z\u4e00-\u9fa5]+$/;

				if (!msgRule.test(self.messageBoard.messageText)) {
					return alert("留言欄位只允許中文、英文、數字");
				}

				fetch("/Lion/UseMsgPost", {
					method: "POST",
					headers: { 'Content-Type': 'application/json' },
					body: JSON.stringify(self.messageBoard)
				})
					.then(r => r.json())
					.then(d => {
						if (d == true) {
							console.log("Success", d);
							alert("建立成功");

							window.location.href = "/Lion/MsgList";
						}
						else {
							console.log("Fail", d);
							alert("建立失敗");
						}
					}).catch(error => console.error('Error:', error));;
			},
		},
	}).mount("#UseMsg");
</script>